.contact-section{
    background: #45A29E;
    padding-bottom: 80px;
    padding-top: 28px;
}

.contact-title{
    padding-top: 62px;
    color: #fff;
}

.contact-title h3{
    font-weight: lighter;
    width: 60%;
    margin: auto;
}

.contact-title a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.contact-title a:hover{
    text-decoration: underline;
}

.contact-form__container{
    width: 100%;
    max-width: 1600px;
    margin: auto;
}

.contact-form{
    width: 60%;
    margin: auto;
}

.name-email-input__container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
    margin-top: 45px;
}

.name-input__container, .email-input__container{
    width: 48%;
}


.name-input__container input, .email-input__container input{
    width: 95%;
    padding: 6px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    border-radius: 5px;
    font-family: 'Baloo Da 2', cursive;
    font-size: 14px;
}

.name-input__container input::placeholder, .email-input__container input::placeholder, .message-input__container textarea::placeholder{
    color: rgba(255, 255, 255, 0.5);
}

.name-input__container input:focus, .email-input__container input:focus, .message-input__container textarea:focus{
    outline: none;
}

.message-input__container{
    width: 100%;
}

.message-input__container textarea{
    width: 95%;
    height: 200px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 6px;
    padding: 12px;
    color: #fff;
    resize: none;
    font-family: 'Baloo Da 2', cursive;
    font-size: 14px;
}

.send-btn{
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 6px;
    font-size: 16px;
    padding: 12px 25px;
    margin-top: 12px;
    transition: all .5s ease;
    cursor: pointer;
}

.send-btn:hover{
    background: #fff;
    color: #45A29E;
}

.loading-spinner__container{
    width: 120px;
    display: flex;
    justify-content: center;
}

.send-another-message{
    width: 200px;
    margin: 40px auto 0 auto;
    text-decoration: underline;
    cursor: pointer;
}

.send-another-message:hover{
    color: rgb(230, 230, 230);
}

.required-input-message{
    color: rgb(163, 22, 22);
    font-size: 14px;
    margin: 0;
}

.missing-input{
    border-bottom: 1px solid rgb(163, 22, 22) !important;
}

.missing-textarea{
    border: 1px solid rgb(163, 22, 22) !important;
}


@media(max-width: 768px){
    .contact-title h3{
        width: 90%;
    }
    .contact-form{
        width: 90%;
        margin: auto;
    }

   
}

@media(max-width: 512px){
    .contact-title h3{
        font-size: 1rem;
    }
    .name-email-input__container{
        flex-direction: column;
    }

    .name-input__container, .email-input__container{
        width: 100%;
    }

    .name-input__container input, .email-input__container input{
        width: 95%;
    }

    .email-input__container input{
        margin-top: 30px;
    }

    .message-input__container textarea{
        width: 92%;
    }

    .send-btn__container{
        width: 99%;
        margin: auto;
    }

    .send-btn{
        width: 100%;
        margin-top: 25px;
    }

    .loading-spinner__container{
        width: 100%;
    }
  
}